.navbar-brand {
    font-family: 'Racing Sans One', cursive;
    font-size: 40px;
}

.navbar {
    padding-bottom: 20px;
    padding-top: 20px;
}

.title {
    font-family: 'Racing Sans One', cursive;
}

.navbar-collapse {
    font-family: 'Righteous', cursive;
    font-size: 15px;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3A3839;
    height: 130px;
    margin-top: 35px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #ffffff;
}

.logoFooter{
    font-family: 'Racing Sans One', cursive;
	font-size: 30px;
	padding-top: 20px;
    color: #ffffff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
