﻿@{
    ViewData["Title"] = "Need help?";
    ViewData["Message"] = "Below you will find comprehensive documentation for the TutorNinja platform. Send any queries you may have to trash@tutorninja.com";
}
<h2 class="title">@ViewData["Title"]</h2>
<p>@ViewData["Message"]</p>
<h2 class="title">Registration</h2>
<p>To register on TutorNinja, click on the 'Register' button on the righthand side of the toolbar. This will take you to the regstration page where you will be prompted to enter your email address and details. Once you've filled and submitted the form, a confirmation email will be sent to you. Click on the link in the email, and you're all set to start posting ads!</p>
<h2 class="title">Login</h2>
<p>To login on TutorNinja, click on the 'Login' button on the righthand side of the toolbar. You will be taken to the login page, where you can login using the same email and password you used to sign up.</p>
<h2 class="title">Working with Ads</h2>
<p>To create an Ad, click on the 'Ad' link on the left hand side of the toolbar. You will be taken to the Ad index page. Below the page title where it says 'Index', you will find a button labelled 'Create New'. Clicking on this button will take you to the Create Ad page where you can fill out the details and post it.</p>
<p>Once the ad is posted, you may return to it and edit or delete it as you see fit. Please note that you must be logged in to operate on ads.</p>
<h2 class="title">Viewing Ads</h2>
<p>To view the details for an ad, just click on the ad you would like to know more about. This will take you to the details page for the relevant ad. From here you can see the Tutor who posted the ad, as well as reviews ratings posted by other students like you!</p>
<h2 class="title">Feedback</h2>
<p>To post your thoughts and review of an ad, just scroll to the botom of the relevant ad where you will find a reviews section. In this section you can post your thoughts on the Tutors ad listing. You must be logged in to perform this action.</p>
<h2 class="title">Sorting and Searching</h2>
<p>To sort ads, click through any of the blah blah blah. Lorem impsum bacon knapsack.</p>
<h2 class="title">Full documentation</h2>
<iframe src="https://drive.google.com/file/d/0B_Fe_ZCTCEYeNlRGQnF2aktIcW8/preview" width="640" height="480"></iframe>
